@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
}

main {
  width: 375px;
  margin: 0 auto;
}

nav {
  position: absolute;
  right: 38%;
  top: 3%;
}

header {
  background-image: url(img/image_geometry_2.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  height: 730px;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  top: 10%;
  left: 38%;
}

header p {
  margin-top: 51%;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Poppins", serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
}

header button {
  margin-top: 1%;
  margin-bottom: 8%;
  margin-left: 10px;
  width: 350px;
  height: 50px;
  background-color: #1a2236;
  color: white;
  font-size: 20px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4764ad;
  color: rgb(0, 0, 0);
}

.Work .Title {
  width: 182px;
  font-size: 35px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  margin-left: 20px;
}

.Work .info {
  display: grid;
  grid-template-rows: 255px 80px 30px 30px 30px 30px;
  background-color: #1a2236;
  height: 500px;
}

.info img {
  width: 372px;
  margin-left: 1px;
  margin-right: 1px;
}

.info h2 {
  color: white;
  font-family: "Poppins", serif;
  font-size: 150%;
  font-weight: 100;
  margin-left: 20px;
}

.list {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.list-items {
  font-family: "Poppins", serif;
  padding: 10px;
  outline: none;
  background: #98dede;
  font-size: 12px;
}

.Project-link {
  color: white;
  padding: 20px;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border: 2px solid white;
  margin-bottom: 50px;
  margin-left: 10%;
  text-decoration: none;
  height: 300px;
  width: 50px;
}

.Project-link i {
  position: relative;
  bottom: -20%;
  margin-left: 5px;
}

.About h2 {
  font-family: "Playfair Display", serif;
  color: #1a2236;
  font-size: 50px;
  font-weight: 400;
  margin-left: 20px;
}

.About p {
  color: #1a2236;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.About button {
  margin-top: 1%;
  margin-bottom: 8%;
  margin-left: 10px;
  transition-duration: 0.4s;
  width: 350px;
  height: 50px;
  background-color: #1a2236;
  color: white;
  font-size: 20px;
}

.About button:hover {
  background-color: #4764ad;
  color: rgb(0, 0, 0);
}

.Code-lang {
  background-color: #1c528a;
  color: white;
  font-family: "Poppins", serif;
  width: 299px;
  height: 300px;
  margin-left: 10px;
  padding-top: 50px;
  padding-left: 50px;
  background-image: url(img/hash.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.Code-lang ul {
  margin-left: -20px;
}

.Code-lang2 {
  background-color: #e2505c;
  color: white;
  font-family: "Poppins", serif;
  width: 299px;
  height: 300px;
  margin-top: 1.3%;
  margin-left: 10px;
  padding-top: 50px;
  padding-left: 50px;
  background-image: url(img/Cude.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.Code-lang2 ul {
  margin-left: -20px;
}

.Code-lang3 {
  background-color: #febf52;
  color: white;
  font-family: "Poppins", serif;
  width: 299px;
  height: 300px;
  margin-top: 1.3%;
  margin-left: 10px;
  padding-top: 50px;
  padding-left: 50px;
  background-image: url(img/Ligthbud.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.Code-lang3 ul {
  margin-left: -20px;
}
